:host {
  .container {
    width: 90rem;
    max-width: calc(90% - 0.625rem);
    margin: 0 auto;
  }

  .back-button {
    margin-top: 3rem;
    width: 8.625rem;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--text-body);
    box-shadow: var(--shadow-components);

    &__arrow-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: var(--text-body);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-image: url('../../../public/arrow-sm-left-svgrepo-com.svg');
    }
  }
}
